h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
p{
    color: blue;
    font-size: larger;
}
#p1{
    color: rgb(255, 0, 255);
}
.blue{
    color: rgb(1, 75, 80);
}
li {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}
 .b1{
     border: 5px; color:black;
 }