img{
    border-radius: 10px;
}
h1{
    color: bisque;
    margin: 25px;
}

.main{
    height: 100px;
    background: #000;
    display: flex;
    justify-content: space-between;
}
.sub{
    margin-top: 35px;
    font-size: x-large;
   margin-right: 200px;
    color: black;

}
img{
    max-height: 70%;
    max-width: 100%;
}